<div class="authform">
  <h3>Editar Usuário </h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :clinica %>
      <%= f.text_field :clinica, class: 'form-control' %>
    </div>    
    <div class="form-group">
      <%= f.label :endereco %>
      <%= f.text_field :endereco, class: 'form-control' %>
    </div>    
    <div class="form-group">
      <%= f.label :telefone %>
      <%= f.text_field :telefone, class: 'form-control' %>
    </div>    
    <div class="form-group">
      <%= f.label :crm %>
      <%= f.text_field :crm, class: 'form-control' %>
    </div>    
    <div class="form-group">
      <%= f.label :cpf %>
      <%= f.text_field :cpf, class: 'form-control' %>
    </div>  
    <div class="form-group">
      <label for="cabecalho">Exibe cabecalho ?</label>
      <%= f.select :cabecalho, [['Sim', true], ['Não', false]], class: "form-control" %>
    </div>  

    <div class="form-group">
      <%= f.label "Margem Superior" %>
      <%= f.text_field :superior, class: 'form-control' %>
    </div>  

    <div class="form-group">
      <%= f.label "Margem Lateral" %>
      <%= f.text_field :lateral, class: 'form-control' %>
    </div>      

    <fieldset>
      <p>Deixe estes campos em branco se não quiser alterar a senha.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>É necessário digitar sua senha atual para fazer qualquer alteração.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Atualizar Cadastro', :class => 'button right' %>
  <% end %>
</div>