<p id="notice"><%= notice %></p>

<h1>Cadastro de Grupos</h1>

<table id="especialidades" class="table table-bordered table-condensed table-stripped">
  <thead>
    <tr>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @especialidades.each do |especialidade| %>
      <tr>
        <td><%= especialidade.nome %></td>
        <td>
            <%= link_to 'Editar', edit_especialidade_path(especialidade), class: "btn btn-primary btn-xs" %>
            <%= link_to 'Excluir', especialidade, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Tem certeza que deseja excluir ?' } %>        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Grupo', new_especialidade_path, class: "btn btn-primary" %>
