<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="/produtos">Produtos</a>
            </li>
            <li>
                <% if current_user.role == "admin" %>
                <%= link_to 'Unidades de medida', unidades_path %>
                <%= link_to 'Cadastro de Grupos', especialidades_path %>
                <%= link_to 'Cadastro de Veículos', veiculos_path %>
                <% end %>
            </li>
            <li>
                <a href="/pedidos">Receitas</a>
            </li>
            <li>
                <a href="/formulas">Fórmulas</a>
            </li>            
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6" id="grafico1">
                    <% if current_user.role == "admin" %>
                    <%= bar_chart Item.joins(:produto).group(:produto).count, title: "Produtos mais receitados", refresh: 60 %>
                    <% else %>
                    <%= column_chart Pedido.where(' user_id = ?', current_user.id).group_by_day_of_week(:created_at, format: "%a").count, title: "Total de receitas Emitidas", refresh: 60 %>
                    <% end %>
                </div>
                <div class="col-lg-6" id="grafico2">
                    <% if current_user.role == "admin" %>
                    <%= bar_chart Manipulado.joins(:formula).group(:nome).count, title: "Fórmulas mais receitados", refresh: 60 %>                    
                    <% end %>
                </div>
                <br><br>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>            
            <div class="row">
                <div class="col-lg-6" id="grafico3">
                    <% if current_user.role == "admin" %>
                    <%= pie_chart Pedido.joins(:user).group(:name).count, title: "Receitas por médico", refresh: 60 %>
                    <% end %>
                </div>
                <div class="col-lg-6" id="grafico4">
                    <% if current_user.role == "admin" %>
                    <%= column_chart Pedido.group_by_day_of_week(:created_at, format: "%a").count, title: "Total de receitas Emitidas", refresh: 60 %>
                    <% end %>
                </div>
            </div>            
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
