<td>
  <%= link_to user.email, editar_usuario_path(user) %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Alterar permissão', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Remover Usuário", user_path(user), :data => { :confirm => "Você tem certeza?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>