<%= simple_form_for(@user) do |f| %>

<h3>Usuário</h3>
<p>Nome: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
    <div class="form-group">
      <%= f.label "Margem Superior" %>
      <%= f.input :superior, class: 'form-control' %>
    </div>  

    <div class="form-group">
      <%= f.label "Margem Lateral" %>
      <%= f.input :lateral, class: 'form-control' %>
    </div>  
<br><br><br><br>
<h4>Grupos</h4>


    <div class="permissaos">
		<%= link_to_add_association 'Adicionar Grupo', f, :permissaos,
		'data-association-node' => '#permissaos ol',
		'data-association-insertion-method' => 'after', class: 'btn btn-success btn-sm' %>

		<fieldset id='permissaos'>
			<ol>
				<%= f.fields_for :permissaos do |item| %>
					<%= render partial: "permissao_fields", locals: {f: item} %>
				<% end %>
			</ol>
		</fieldset>
    </div>


<%= f.button :submit, "Inserir Dados" %>

<% end %>