 <%= simple_form_for(@pedido) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :paciente %>
  </div>
<br>

    <div class="produtos">
		<%= link_to_add_association 'Adicionar produto', f, :items,
		'data-association-node' => '#items ol',
		'data-association-insertion-method' => 'after', class: 'btn btn-success btn-sm' %>

		<fieldset id='items'>
			<ol>
				<%= f.fields_for :items do |item| %>
					<%= render partial: "item_fields", locals: {f: item} %>
				<% end %>
			</ol>
		</fieldset>
    </div>
    <br>
    <%= f.label :posologia, "Posologia" %>
    <%= f.text_area :posologia, rows: 5, cols: 100, class: "form-control" %>
    <br><br><br>
   <div class="manipulados">
		<%= link_to_add_association 'Adicionar fórmula', f, :manipulados,
		'data-association-node' => '#manipulados ol',
		'data-association-insertion-method' => 'after', class: 'btn btn-success btn-sm' %>

		<fieldset id='manipulados'>
			<ol>
				<%= f.fields_for :manipulados do |manipulado| %>
					<%= render partial: "manipulado_fields", locals: {f: manipulado} %>
				<% end %>
			</ol>
		</fieldset>
    </div>    

<br><br><br><br>

  <div class="form-actions">
    <%= f.button :submit, "Inserir Receita" %>
  </div>

<script type="text/javascript">
$(".selectize").selectize();
$('form').on('cocoon:after-insert', function(e, addedItem) {
  $(addedItem).find('.selectize').selectize()
});

</script>

<% end %>