<div class="nested-fields well well-compact form-inline">
	<%=  f.input :id, :as => :hidden %>
	<%= f.association :produto, 
		label_method: :descricao, 
		:label => "Produto", 
		:input_html => {class: "prodSelect selectize", :style=> "width: 300px;"},
		collection: Produto.joins(:grupos).where('grupos.especialidade_id IN (SELECT "permissaos".especialidade_id FROM "permissaos" WHERE "permissaos"."user_id" = ? ) ', current_user.id).uniq.sort_by{|e| e[:descricao]} 
	%>
	<%= f.input :quantidade, :label=> "Conc./dosagem", :input_html => {:style=> 'margin-left:30px; width: 70px'}  %>
	<%= f.association :unidade, label_method: :unidade, :input_html => {class:"unidProd selectize", :style=> 'margin-left:30px; width: 130px'} %>
	<%= f.input :posologia %>
	<%= f.association :veiculo, 
		label_method: :nome, 
		:label => "Veiculo", 
		:input_html => {class: "form-control veicSelect selectize", :style => "width: 100px;"},
		collection: Veiculo.all 
	%>
	<%= f.input :quantidade_veiculo , :label=> "Qtd", :input_html => {:style=> 'margin-left:30px; width: 70px'}  %>
	<%= f.label :unidade_veiculo_id%>
	<%= f.select :unidade_veiculo_id,
	     @unidades.map{ |c| [c.unidade, c.id] },
	     {:include_blank => true}, 
	     { :class => 'form-control col-md-3 selectize unidVeic', :style => "width: 100px;"}
	     %>	
    <%= link_to_remove_association button_tag('x', type: "button", class: "close"), f %>
</div>

<script>


	$(".grupoprod").on("change", function() {
  		var produtoNome = this.id.replace("especialidade_id", "produto_id")
$.ajax({
             url: "<%= update_produtos_path %>", // this will be routed
             type: 'GET',
             data: {
               especialidade_id: $("#" + this.id + " option:selected").val()
             },
             async: true,
             dataType: "JSON",
             error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed: "+error);
                    },
             success: function(data){
                // here we iterate the json result
                $("#" + produtoNome).empty();
                $("#" + produtoNome).append(new Option(" ", " "));
                for(var i in data)
                {
                  var id = data[i].id;
                  var descricao = data[i].descricao;
                  $("#" + produtoNome).append(new Option(descricao, id));
                }
             }
           });


	});
</script>