<div class="nested-fields well well-compact form-inline">
	<%=  f.input :id, :as => :hidden %>
	<%= f.association :formula, label_method: :nome, :label => "Fórmula", :input_html => {class: "formSelect selectize", :style=> 'width: 300px'}, 
		collection: Formula.where(' (user_id = ? OR user_id = 0 OR user_id = 5 OR user_id = 3) AND especialidade_id IN (SELECT "permissaos".especialidade_id FROM "permissaos" WHERE "permissaos"."user_id" = ? ) ', current_user.id, current_user.id).uniq.sort_by{|e| e[:nome]} %>	
	
    <%= link_to_remove_association button_tag('x', type: "button", class: "close"), f %>

<br>
<br><br>

<div id="ingredientes">
<br>
     <div class="pontos">
    <%= link_to_add_association 'Adicionar Ingrediente', f, :pontos,
    'data-association-node' => '#pontos ol',
    'data-association-insertion-method' => 'after', class: 'btn btn-success btn-sm botaoAddIngrediente' %>

    <fieldset id='pontos'>
      <ol>
        <%= f.fields_for :pontos do |ponto| %>
          <%= render partial: "ponto_fields", locals: {f: ponto} %>
        <% end %>
      </ol>
    </fieldset>
    </div>

</div>
<br><br><br>
<div class="nested-fields form-inline">
  <%=  f.input :posologia %>
  <%= f.association :veiculo, 
    label_method: :nome, 
    :label => "Veiculo", 
    :input_html => {class: "veicSelect", style: "width: 170px;"},
    collection: Veiculo.all 
  %>
  <%=  f.input :quantidade_veiculo, :input_html => {style: "width: 100px;"} %>
  <%= f.association :unidade, label_method: :unidade, :input_html => {class: "unidVeic", style: "width: 100px;"} %>
</div>

</div>

<script>


	$(".grupoprod").on("change", function() {
  		var produtoNome = this.id.replace("especialidade_id", "formula_id")
$.ajax({
             url: "<%= update_formulas_path %>", // this will be routed
             type: 'GET',
             data: {
               especialidade_id: $("#" + this.id + " option:selected").val()
             },
             async: true,
             dataType: "JSON",
             error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed: "+error);
                    },
             success: function(data){
                // here we iterate the json result
                $("#" + produtoNome).empty();
                $("#" + produtoNome).append(new Option(" ", " "));
                for(var i in data)
                {
                  var id = data[i].id;
                  var nome = data[i].nome;
                  $("#" + produtoNome).append(new Option(nome, id));
                }
             }
           });


	});

$(".formSelect").on("change",carregaDados);

    $(".formSelect").ready(function(event) {
      carregaDados();
    });

function carregaDados()
  {
      var elemento = "";
      var evento   = false;
      if (this.id == null)
      {
        elemento = document.querySelector(".formSelect");
        evento = false;
      }
      else
      {
        elemento = this;
        evento = true;
      }

      var formulaNome = elemento.id;
      var formula     = $("#" + elemento.id + " option:selected").val();
      var objObservacoes = elemento.id.replace("formula_id", "observacoes");
      var divPai = $( elemento.id ).parent().id;
      var htmlAppend = "";
      var veiculoNome = elemento.id.replace("formula_id", "veiculo_id")
      var veiculoQuantidade = elemento.id.replace("formula_id", "quantidade_veiculo")
      var veiculoUnidade = elemento.id.replace("formula_id", "unidade_id")
      var formulaQuantidade = elemento.id.replace("formula_id", "quantidade")

$.ajax({
             url: "<%= update_ingredientes_path %>", // this will be routed
             type: 'GET',
             data: {
               formula_id: $("#" + elemento.id + " option:selected").val()
             },
             async: true,
             dataType: "JSON",
             error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed: "+error);
                    },
             success: function(data){
                // here we iterate the json result
                htmlAppend += " <div id='" + objObservacoes + "' class='" + objObservacoes + "' name='" + objObservacoes + "' >"; 
                htmlAppend += "<table>"
                if ((evento == true))
                {
                  //primeiro exclui os existentes
                  var ingreditentesAntigos = elemento.parentNode.parentNode.querySelectorAll(".closePontos");
                  console.log(ingreditentesAntigos);
                  for (var olds = 0; olds < ingreditentesAntigos.length; olds++)
                    {
                        ingreditentesAntigos[olds].click();
                    }
                for(var i in data)
                  {
                    var produto_id      = data[i].produto_id;
                    var produto_nome    = data[i].produto_descricao;
                    var unidade_unidade = data[i].unidade.unidade;
                    var unidade_id      = data[i].unidade.id;
                    var quantidade      = data[i].quantidade;
                    var editar          = data[i].editar;
                    elemento.parentNode.parentNode.querySelector(".botaoAddIngrediente").click();

                    var p = elemento.parentNode.parentNode.querySelectorAll(".PontoprodSelect")[0]
                    var q = elemento.parentNode.parentNode.querySelectorAll(".Pontoprodqtd")[0]
                    var s = elemento.parentNode.parentNode.querySelectorAll(".Pontoprodunidade")[0]
                    //while (p.options.length > 0) {
                    //  p.remove(p.options.length - 1);
                    //}

                    //while (s.options.length > 0) {
                     // s.remove(s.options.length - 1);
                    //}  
                    p.value = produto_id;
                    q.value = quantidade;                  
                    s.value = unidade_id
                    //var opt = document.createElement('option');

                    //opt.text = produto_nome;
                    //opt.value = produto_id;
                    //p.add(opt, null);

                    //var opt2 = document.createElement('option');

                    //opt2.text = unidade_unidade;
                    //opt2.value = unidade_id;
                    //s.add(opt2, null);

                   


                    /*
                    htmlAppend += "<th><tr> <td>Produto</td> <td></td> <td></td> <td>Quantidade</td> <td></td> <td>Unidade</td> </tr></th>"
                    htmlAppend += "<tr>";
                    htmlAppend += "<td>";
                    htmlAppend += "<input type='text' name='nomeproduto[]' value='" + produto_nome + "' readonly >";
                    htmlAppend += "</td>";
                    htmlAppend += "<td>";
                    htmlAppend += "<input type='hidden' name='idproduto[]' value='" + produto_id + "' readonly>";
                    htmlAppend += "</td>";

                    htmlAppend += "<td>";
                    htmlAppend += "<input type='hidden' name='idFormula[]' value='" + formula + "' readonly>";
                    htmlAppend += "</td>";

                    htmlAppend += "<td>";
                    if (editar  != "t")
                    {
                    htmlAppend += "<input type='number' name='quantidadeproduto[]' value='" + quantidade + "' >";
                    }
                    else
                    {
                     htmlAppend += "<input type='number' name='quantidadeproduto[]' value='" + quantidade + "' >"; 
                    }
                    htmlAppend += "</td>";
                    htmlAppend += "<td>";
                    htmlAppend += "<input type='hidden' name='idunidade[]' value='" + unidade_id + "' readonly>";
                    htmlAppend += "</td>";
                    htmlAppend += "<td>";
                    htmlAppend += "<input type='text' name='unidade_unidade[]' value='" + unidade_unidade + "' readonly>";
                    htmlAppend += "</td>";                    
                    htmlAppend += "</tr>";
                    */
                  }                  
                 } 
                //htmlAppend += "</table>";
                //htmlAppend += "</div>";
                //$("#" + objObservacoes).replaceWith(htmlAppend);
                
             }
           });


$.ajax({
             url: "<%= update_veiculo_formula_index_path %>", // this will be routed
             type: 'GET',
             data: {
               formula_id: $("#" + elemento.id + " option:selected").val()
             },
             async: true,
             dataType: "JSON",
             error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed: "+error);
                    },
             success: function(data){
                // here we iterate the json result
                $("#" + veiculoNome).empty();
                if (data.length > 1)
                {
                    if (data[0].quantidade > 0)
                    {
                      $("#" + veiculoQuantidade).val(data[0].quantidade); 
                      $("#" + formulaQuantidade).val(1); 
                      $("#" + veiculoQuantidade).attr('disabled','disabled');
                      $("#" + formulaQuantidade).attr('disabled','disabled');
                    }
                    else
                    {
                     $("#" + veiculoQuantidade).removeAttr('disabled');
                     $("#" + formulaQuantidade).removeAttr('disabled');
                    }

                    if (data[0].veiculo_unidade != null && data[0].veiculo_unidade != 0)
                    {
                      var id = data[0].veiculo_id
                      var nome = data[0].veiculo_unidade
                      $("#" + veiculoUnidade).append(new Option(nome, id));
                    }

                    $("#" + veiculoNome).append(new Option(" ", " "));
                    for(var i in data)
                    {
                      var id = data[i].id;
                      var nome = data[i].nome;
                      $("#" + veiculoNome).append(new Option(nome, id));
                    }
                  }
                  else if (data.length == 1 ) {
                    if (data[0].quantidade > 0)
                    {
                      $("#" + veiculoQuantidade).val(data[0].quantidade); 
                      $("#" + formulaQuantidade).val(1); 
                      $("#" + veiculoQuantidade).attr('disabled','disabled');
                      $("#" + formulaQuantidade).attr('disabled','disabled');
                    }
                    else
                    {
                     $("#" + veiculoQuantidade).removeAttr('disabled');
                     $("#" + formulaQuantidade).removeAttr('disabled');
                    }
                    if (data[0].veiculo_unidade != null && data[0].veiculo_unidade != 0)
                    {
                      var id = data[0].veiculo_id
                      var nome = data[0].veiculo_unidade
                      $("#" + veiculoUnidade).empty();
                      $("#" + veiculoUnidade).append(new Option(nome, id));
                    }

                      var id = data[0].id;
                      var nome = data[0].nome;
                      $("#" + veiculoNome).append(new Option(nome, id));
                  }
                  else
                  {
                    $("#" + veiculoNome).append(new Option(" ", " "));
                  }
               }
           });

  }
</script>