<div class="nested-fields well well-compact form-inline">
	<%=  f.input :id, :as => :hidden %>
	<%= f.association :formula, label_method: :nome, :label => "Fórmula", :input_html => {},
		collection: Formula.where('especialidade_id IN (SELECT "permissaos".especialidade_id FROM "permissaos" WHERE "permissaos"."user_id" = ? ) ', current_user.id)   %>	
	<%=  f.input :quantidade %>
	<%=  f.input :posologia %>
    <%= link_to_remove_association "Remover", f %>
</div>