<%= simple_form_for(@formula) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.association :especialidade, label_method: :nome, :label => "Especialidade", :input_html => {} %>
    <%= f.association :veiculo, label_method: :nome, :label => "Veículo Padrão", :input_html => {},
        collection: Veiculo.all.sort_by{|e| e[:nome]}  %>
    <%= f.input :quantidade, :label => "Quantidade padrão" %>
    <%= f.association :unidade, label_method: :descricao, :label => "Unidade Padrão", :input_html => {} %>
    <%= f.input :observacoes %>
    Bloquear edição ? <%= f.select :editar, [['Não', false], ['Sim', true]], class: "form-control" %>
    <br>
    <br>
    <br>
  </div>


    <div class="produtos">
		<%= link_to_add_association 'Adicionar produto', f, :ingredientes,
		'data-association-node' => '#ingredientes ol',
		'data-association-insertion-method' => 'append', class: 'btn btn-success btn-sm' %>
<br><br><br><br><br>
<h4>Produtos da fórmula</h4>
		<fieldset id='ingredientes' >
			<ol>
				<%= f.fields_for :ingredientes do |ingrediente| %>
					<%= render partial: "ingrediente_fields", locals: {f: ingrediente} %>
				<% end %>
			</ol>
		</fieldset>
    </div>

  <div class="form-actions">
    <%= f.button :submit, "Inserir Fórmula" %>
  </div>
<% end %>