<%= simple_form_for(@formula) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.association :especialidade, label_method: :nome, :label => "Especialidade", :input_html => {} %>
    <%= f.association :veiculo, label_method: :nome, :label => "Veículo Padrão", :input_html => {} %>
    <%= f.input :observacoes %>
  </div>


    <div class="produtos">
<br><br><br><br><br>
<h4>Produtos da fórmula</h4>
		<fieldset id='ingredientes' >
			<ol>
				<%= f.fields_for :ingredientes do |ingrediente| %>
					<%= render partial: "ingrediente_fields", locals: {f: ingrediente} %>
				<% end %>
			</ol>
		</fieldset>
    </div>
<% end %>

<%= link_to 'Voltar', formulas_path, class: "btn btn-default"  %>
