<%= simple_form_for(@produto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :descricao %>
    <%= f.input :observacoes %>
    <%= f.input :maximo %>
    <%= f.association :unidade, label_method: :unidade, :label => "Em", :input_html => {} %>
  </div>

  <div class="especialidadesProd">
    <%= link_to_add_association 'Adicionar Grupo', f, :grupos,
    'data-association-node' => '#especialidadesProd ol',
    'data-association-insertion-method' => 'after' %>

    <fieldset id='especialidadesProd'>
      <ol>
        <%= f.fields_for :grupos do |item| %>
          <%= render partial: "grupo_fields", locals: {f: item} %>
        <% end %>
      </ol>
    </fieldset>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
