<p id="notice"><%= notice %></p>

<h1>Cadastro de produtos</h1>
<br>
<table id="produtos" class="table table-bordered table-condensed table-stripped">
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Observacoes</th>
      <th>Qtd. Máxima</th>
      <th>Unidade</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.descricao %></td>
        <td><%= produto.observacoes %></td>
        <td><%= produto.maximo %></td>
        <td><%= produto.unidade.unidade %></td>
        <td>
            <% if current_user.role == "admin" %>
            <%= link_to 'Editar', edit_produto_path(produto), class: "btn btn-primary btn-xs" %>
            <%= link_to 'Excluir', produto, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Tem certeza que deseja excluir ?' }%>
            <% else %>
            <%= link_to 'Visualizar', produto_path(produto), class: "btn btn-primary btn-xs" %>
            <% end %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Adicionar Produto', new_produto_path, class: "btn btn-primary" %>